/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --subtitle-color: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --title-shadow-color: #ff0070;
  --decorated-color: #ff0070;
  --section-text-color: var(--accent-color);
  --button-color: var(--accent-color);
  --text-color: #f1b2ce;
}

.page.theme_dark .rec {
  display: block;
}
