/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --subtitle-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --title-shadow-color: #ff0070;
  --decorated-color: #353430;
  --section-text-color: #353430;
  --button-color: #353430;
  --text-color: #353430;
}

.page.theme_light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  html.theme-auto {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --subtitle-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --title-shadow-color: #ff0070;
    --decorated-color: #353430;
    --section-text-color: #353430;
    --button-color: #353430;
    --text-color: #353430;
  }
}
