/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: var(--main-font-family);
  color: var(--text-color);
  font-size: var(--main-font-size);
}

.page__content {
  max-inline-size: 1440px;
  margin-inline: auto;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr auto;
  padding: 20px;
  min-height: 100vh;
}

.header__subtitle.title-decor {
  padding-inline: 0;
}

.decorated-zone::after,
.decorated-zone::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  border-top: 1px solid var(--decorated-color);
  border-right: 1px solid var(--decorated-color);
  top: 20px;
  right: 20px;
}

.decorated-zone::after {
  border-bottom: 1px solid var(--decorated-color);
  border-left: 1px solid var(--decorated-color);
  bottom: 20px;
  left: 20px;
}

.rec {
  position: absolute;
  text-transform: uppercase;
  top: 20px;
  right: 27px;
  color: var(--accent-color);
  display: block;
}

.rec::after {
  content: '';
  display: inline-block;
  background-color: var(--accent-color);
  box-shadow: 0 0 5px var(--accent-color);
  margin-inline-start: 10px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  font-size: var(--main-font-size);
  line-height: 18px;
  padding: 0 13px;
  cursor: pointer;
  border: 0;
  color: var(--button-color);
  height: 26px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--decorated-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decorated-color);
}

.header__title {
  display: block;
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  margin: 0;
  margin-inline-start: -20px;
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--title-shadow-color);
  grid-row: 2;
  text-align: left;
}

/* .header__title {
  align-self: center;
} */

.header__text {
  padding: 274px 0 116px;
  display: flex;
  flex-direction: column;
  gap: 114px;
  justify-items: stretch;
  text-align: left;
}

.header__subtitle {
  width: clamp(355px, 50%, 491px);
  align-self: flex-end;
  margin: auto 0;
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  font-weight: 700;
  background-size: cover;
  font-size: var(--main-font-size);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
  padding-block: 60px;
  padding-inline: 20px;
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__section:first-child {
  grid-template-columns: 315px 1fr;
  row-gap: 20px;
}

.main__section:first-child .main__section-title {
  grid-row: span 2;
}

.main__section:nth-child(2) {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 20px;
  row-gap: 20px;
}

.main__section:nth-child(2) .main__section-title {
  grid-column: span 3;
}

.main__section:nth-child(3) {
  grid-template-columns: 315px 1fr;
}

.main__section-header {
  row-gap: 15px;
}

.main__section-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__section-title {
  font-size: 18px;
  color: var(--section-text-color);
  font-weight: 700;
}

.main__section-text {
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  font-weight: 400;
  line-height: 23.4px;
  color: var(--text-color);
}

.main__section-subtitle {
  font-weight: 400;
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  margin-block-start: 20px;
  line-height: 23.4px;
  font-size: var(--main-font-size);
}

.text-link {
  text-decoration: none;
  text-shadow: 1px 2px 0 var(--title-shadow-color);
}

.text-link:hover {
  border-block-end: 1px solid var(--text-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.main__section:last-child {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'title title title'
    'sunset sunset ice-cream'
    'tape books ice-cream'
    'tape street street';
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__sunset {
  grid-area: sunset;
}

.image__ice-cream {
  grid-area: ice-cream;
}

.image__tape {
  grid-area: tape;
}

.image__books {
  grid-area: books;
}

.image__street {
  grid-area: street;
}

.main__section:last-child .title-decor {
  grid-area: title;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-block-start: 100px;
  min-height: 100vh;
}

.footer-title {
  color: var(--title-color);
  font-size: var(--footer-title-size);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--title-shadow-color);
}

@media (width <=768px) {
  :root {
    --footer-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__theme-menu {
    place-self: start end;
    padding-top: 0;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text {
    padding: 170px 0;
    gap: 157px;
    align-self: stretch;
  }

  .main__section:first-child {
    grid-template-columns: 236px 1fr;
  }

  .main__section:nth-child(2) {
    grid-template-columns: 1fr;
  }

  .main__section:nth-child(2) .main__section-title {
    grid-column: span 1;
  }

  .main__section:nth-child(3) {
    grid-template-columns: 236px 1fr;
  }
}

@media (width <=720px) {
  .header {
    padding: 10px;
  }

  .header__theme-menu {
    place-self: start end;
    padding-top: 0;
  }

  .header__title {
    margin-inline-start: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text {
    padding: 56px 0;
    gap: 58px;
    align-self: stretch;
  }

  .rec {
    right: 16px;
    top: 12px;
  }

  .footer.decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }

  .footer.decorated-zone::before {
    right: 10px;
    top: 10px;
  }

  .main {
    padding-block: 40px;
    padding-inline: 10px;
    gap: 50px;
  }

  .main__section:first-child {
    row-gap: 24px;
  }

  .main__section:nth-child(2) {
    width: 100%;
    row-gap: 24px;
  }

  .main__section:first-child,
  .main__section:nth-child(3) {
    grid-template-columns: 1fr;
  }

  .main__section:nth-child(2) .main__section-title {
    width: 100%;
  }

  .main__section:last-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .main__section-block {
    gap: 6px;
  }

  .main__section-subtitle {
    margin-block-start: 24px;
  }
}
